USE [master]
GO
/****** Object:  Database [Practic8]    Script Date: 11.03.2026 10:45:16 ******/
CREATE DATABASE [Practic8]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practic8', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Practic8.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Practic8_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Practic8_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practic8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practic8]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[PassportSeries] [int] NOT NULL,
	[PassportNumber] [int] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK__Clients__3214EC27B50436FD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[TypeID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AddDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentTypes]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RentalNumber] [nvarchar](50) NOT NULL,
	[ClientID] [int] NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[ActualReturnDate] [date] NULL,
	[TotalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ID], [FullName], [PassportSeries], [PassportNumber], [Address], [Phone], [Email]) VALUES (1, N'Иванов Иван Иванович', 1234, 567890, N'г. Москва, ул. Ленина, д.1', N'+7 (999) 123-45-67', NULL)
INSERT [dbo].[Clients] ([ID], [FullName], [PassportSeries], [PassportNumber], [Address], [Phone], [Email]) VALUES (2, N'Петрова Анна Сергеевна', 2345, 678901, N'г. Москва, ул. Арбат, д.22, кв.12', N'+7 (495) 234-56-78', N'petrova@yandex.ru')
INSERT [dbo].[Clients] ([ID], [FullName], [PassportSeries], [PassportNumber], [Address], [Phone], [Email]) VALUES (3, N'Сидоров Алексей Викторович', 3456, 789012, N'г. Москва, ул. Новый Арбат, д.15', N'+7 (495) 345-67-89', N'sidorov@gmail.com')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([ID], [Name], [TypeID], [Description], [AddDate]) VALUES (1, N'Перфоратор', 1, N'Мощный перфоратор Bosch', CAST(N'2026-03-11' AS Date))
INSERT [dbo].[Equipment] ([ID], [Name], [TypeID], [Description], [AddDate]) VALUES (2, N'Газонокосилка', 2, N'Бензиновая газонокосилка', CAST(N'2026-03-11' AS Date))
INSERT [dbo].[Equipment] ([ID], [Name], [TypeID], [Description], [AddDate]) VALUES (3, N'Болгарка Makita', 1, N'Угловая шлифмашина 125 мм', CAST(N'2026-03-11' AS Date))
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentTypes] ON 

INSERT [dbo].[EquipmentTypes] ([ID], [TypeName]) VALUES (1, N'Электроинструмент')
INSERT [dbo].[EquipmentTypes] ([ID], [TypeName]) VALUES (2, N'Садовый инвентарь')
INSERT [dbo].[EquipmentTypes] ([ID], [TypeName]) VALUES (3, N'Строительное оборудование')
SET IDENTITY_INSERT [dbo].[EquipmentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Rentals] ON 

INSERT [dbo].[Rentals] ([ID], [RentalNumber], [ClientID], [EquipmentID], [StartDate], [EndDate], [ActualReturnDate], [TotalPrice]) VALUES (2, N'RN-002', 2, 3, CAST(N'2023-06-01' AS Date), CAST(N'2023-06-08' AS Date), CAST(N'2023-06-09' AS Date), NULL)
INSERT [dbo].[Rentals] ([ID], [RentalNumber], [ClientID], [EquipmentID], [StartDate], [EndDate], [ActualReturnDate], [TotalPrice]) VALUES (3, N'RN-003', 1, 2, CAST(N'2023-06-15' AS Date), CAST(N'2023-06-22' AS Date), CAST(N'2023-06-22' AS Date), NULL)
INSERT [dbo].[Rentals] ([ID], [RentalNumber], [ClientID], [EquipmentID], [StartDate], [EndDate], [ActualReturnDate], [TotalPrice]) VALUES (4, N'RN-004', 3, 5, CAST(N'2023-07-01' AS Date), CAST(N'2023-07-10' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Rentals] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clients_Address]    Script Date: 11.03.2026 10:45:16 ******/
CREATE NONCLUSTERED INDEX [IX_Clients_Address] ON [dbo].[Clients]
(
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Equipment_TypeID]    Script Date: 11.03.2026 10:45:16 ******/
CREATE NONCLUSTERED INDEX [IX_Equipment_TypeID] ON [dbo].[Equipment]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rentals_ActualReturnDate]    Script Date: 11.03.2026 10:45:16 ******/
CREATE NONCLUSTERED INDEX [IX_Rentals_ActualReturnDate] ON [dbo].[Rentals]
(
	[ActualReturnDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rentals_ClientID]    Script Date: 11.03.2026 10:45:16 ******/
CREATE NONCLUSTERED INDEX [IX_Rentals_ClientID] ON [dbo].[Rentals]
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rentals_EquipmentID]    Script Date: 11.03.2026 10:45:16 ******/
CREATE NONCLUSTERED INDEX [IX_Rentals_EquipmentID] ON [dbo].[Rentals]
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rentals_StartDate]    Script Date: 11.03.2026 10:45:16 ******/
CREATE NONCLUSTERED INDEX [IX_Rentals_StartDate] ON [dbo].[Rentals]
(
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_EquipmentType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[EquipmentTypes] ([ID])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_EquipmentType]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Client]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([ID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Equipment]
GO
/****** Object:  StoredProcedure [dbo].[add_client]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_client]
	@FullName nvarchar(200),
	@Series int,
	@Number int,
	@Address nvarchar(200),
	@Phone nvarchar(20) = null,
	@Email nvarchar(100) = null
AS
BEGIN
	if @FullName is null return 1
	if @Series > 9999 or @Series < 1000 return 1
	if @Number > 999999 or @Number < 100000 return 1
	insert into Clients(FullName,PassportSeries,PassportNumber,Address,Phone,Email)
	values (@FullName,@Series,@Number,@Address,@Phone,@Email)
	return 0
END
GO
/****** Object:  StoredProcedure [dbo].[add_rental]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_rental]
	@RentalNumber nvarchar(50),
	@ClientID int,
	@EquipmentID int,
	@StartDate date,
	@EndDate date,
	@ActualReturnDate date = null
AS
BEGIN
	if exists (select * from Rentals where RentalNumber=@RentalNumber) return 1
	if @EndDate < @StartDate return 1
	insert into Rentals(RentalNumber,ClientID,EquipmentID,StartDate,EndDate,ActualReturnDate)
	values (@RentalNumber,@ClientID,@EquipmentID,@StartDate,@EndDate,@ActualReturnDate)
	return 0
END
GO
/****** Object:  StoredProcedure [dbo].[client_rentals_return]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[client_rentals_return] 
	@Client nvarchar(200)
AS
BEGIN
	select c.FullName, e.Name, e.Description from dbo.Rentals as r
	inner join dbo.Clients as c on r.ClientID=c.ID
	inner join dbo.Equipment as e on r.EquipmentID=e.ID
	where c.FullName like @Client
END
GO
/****** Object:  StoredProcedure [dbo].[clients_count_rentals_return]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[clients_count_rentals_return] 
AS
BEGIN
	select c.FullName, count(*) as RentalsCount from Rentals as r
	inner join Clients as c on r.ClientID=c.ID
	group by c.FullName
	order by RentalsCount desc
END
GO
/****** Object:  StoredProcedure [dbo].[clients_info_return]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[clients_info_return] 
AS
BEGIN
	select * from Clients
	order by Address
END
GO
/****** Object:  StoredProcedure [dbo].[delete_client]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_client]
	@ClientID int
AS
BEGIN
	if exists (select * from Rentals where ClientID=@ClientID and ActualReturnDate is null) return 1
	delete from Clients where ID=@ClientID
	return 0
END
GO
/****** Object:  StoredProcedure [dbo].[delete_old_rentals]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_old_rentals]
AS
BEGIN
	delete from Rentals where datediff(MONTH,ActualReturnDate,GETDATE())>36
	select @@ROWCOUNT

	delete from Clients where ID not in (
	select distinct ClientID from Rentals)
END
GO
/****** Object:  StoredProcedure [dbo].[equip_type_return]    Script Date: 11.03.2026 10:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[equip_type_return] 
	@Type nvarchar(100)
AS
BEGIN
	select e.ID, e.Name, t.TypeName, e.Description from dbo.Equipment as e
	inner join  dbo.EquipmentTypes as t on e.TypeID=t.ID
	where t.TypeName like @Type
END
GO
USE [master]
GO
